.container {
    background: #1a684e;
    color: #ffffff;
}

.App {
    text-align: center;
    padding: 5%;
}

img {
    height: 200px;
    width: auto;
}

.tamagochi-section {
    margin-top: 30px;
    background: #2bbbad;
    height: 300px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.stats {
    background-color: #20a79c;
}
.rc-progress-line-trail {
    stroke: #20a79c;
}
.hidden {
    display: none;
}

.haveFun {
    position: relative;
    animation-name: haveFun;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Standard syntax */
@keyframes haveFun {
    from {left: -300px;}
    to {left: 300px;}
}