body {
    background: #1a684e;
    color: #ffffff;
}

.App {
    text-align: center;
    padding: 5%;
}

.tamagochi-section {
    margin-top: 30px;
    background: #2bbbad;
    height: 300px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.stats {
    background-color: #20a79c;
}
.rc-progress-line-trail {
    stroke: #20a79c;
}